# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore virtual environments
xenv/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp

# Ignore media and uploaded files
media/