{% extends 'users/index.html' %}
{% load static %}
{% block content %}




    <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">{{user.get_full_name}}</li>
                <li class="breadcrumb-item active">Profile</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div
                        class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="{{request.user.get_avatar}}" alt="Profile"
                            class="rounded-circle">
                        <h2>{{user.first_name}} {{user.last_name}}</h2>
                        {% if user.is_department %}
                        <h3>Department {% if user.is_department_admin %} Admin {% endif %}Employee</h3>
                        {% else %}
                        <h3>Employee</h3>
                        {% endif %}
                       
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active"
                                    data-bs-toggle="tab"
                                    data-bs-target="#profile-overview">Overview</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                            </li>

                           

                        </ul>

                       


                        <div class="tab-content pt-2">

                            <div
                                class="tab-pane fade show active profile-overview"
                                id="profile-overview">
                                

                                <h5 class="card-title">Profile Details</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Full
                                        Name</div>
                                    <div class="col-lg-9 col-md-8">
                                        {{user.first_name}} {{user.last_name}}
                                    </div>
                                </div>

                                

                               

                                <div class="row">
                                    <div
                                        class="col-lg-3 col-md-4 label">Office Code</div>
                                    <div class="col-lg-9 col-md-8">{{user.office_code}}</div>
                                </div>

                                

                                <div class="row">
                                    <div
                                        class="col-lg-3 col-md-4 label">Phone</div>
                                    <div class="col-lg-9 col-md-8">
                                        {{user.contact}}
                                    </div>
                                </div>

                                <div class="row">
                                    <div
                                        class="col-lg-3 col-md-4 label">Email</div>
                                    <div
                                        class="col-lg-9 col-md-8">{{user.email}}</div>
                                </div>


                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                                <!-- Profile Edit Form -->
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row mb-3">
                                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                                        <div class="col-md-8 col-lg-9">
                                            <img src="{{user.get_avatar}}" alt="Profile">
                                        </div>
                                    </div>
                                
                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <div class="row">
                                                <div class="col">
                                                    <input name="first_name" type="text" class="form-control" id="first_name" value="{{user.first_name}}">
                                                </div>
                                                <div class="col">
                                                    <input name="last_name" type="text" class="form-control" id="last_name" value="{{user.last_name}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="row mb-3">
                                        <label for="company" class="col-md-4 col-lg-3 col-form-label">Office Code</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="office_code" type="text" class="form-control" id="office_code" value="{{user.office_code}}">
                                        </div>
                                    </div>
                                
                                    <div class="row mb-3">
                                        <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="contact" type="text" class="form-control" id="Phone" value="{{user.contact}}">
                                        </div>
                                    </div>
                                
                                    <div class="row mb-3">
                                        <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="email" type="email" class="form-control" id="Email" value="{{user.email}}">
                                        </div>
                                    </div>
                                
                                    <!-- Add is_active checkbox field -->
                                    <div class="row mb-3">
                                        <label for="is_active" class="col-md-4 col-lg-3 col-form-label">Active</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input type="checkbox" name="is_active" id="is_active" {% if user.is_active %}checked{% endif %}>
                                        </div>
                                    </div>
                                    {% if user.is_department %}
                                    <div class="row mb-3">
                                        <label for="is_department" class="col-md-4 col-lg-3 col-form-label">Department Employee</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input type="checkbox" name="is_department" id="is_department" {% if user.is_department %}checked{% endif %} disabled>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="is_department" class="col-md-4 col-lg-3 col-form-label">Department Admin</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input type="checkbox" name="is_department" id="is_department" {% if user.is_department_admin %}checked{% endif %} disabled>
                                        </div>
                                    </div>
                                    {% endif %}
                                
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>
              
                              </div>



                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>


{% endblock %}